primary-grey = #e4e4e4
primary-black = #101010
secondary-black = #222222
white1 = #ececec
light-black = lighten(primary-black, 20%)

grey1 = #444444
grey2 = #666666

cubic-value = .555,.205,.295,.975
cubic-value-2 = .95,.26,.07,.74